*.dpi:			            72
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcddefault

URxvt.font: xft:Droid Sans Mono:pixelsize=10,xft:Inconsolata:pixelsize=10,xft:DejaVu Sans Mono:pixelsize=10,xft:Droid Sans Fallback:pixelsize=10
URxvt.termName:                 rxvt-256color
URxvt.title:                    terminal
URxvt.depth:                    32
URxvt.internalBorder:           16
URxvt.iso14755:                 false # CTRL-SHIFT
URxvt.iso14755_52:              false # CTRL-SHIFT
URxvt.geometry:                 60x17
URxvt.scrollBar:                false
URxvt.loginShell:               true

URxvt.url-launcher:             firefox
URxvt.matcher.button:           1
